<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Signup</h1>
        <form action="/signup"method="post">
            <input type="email" name="email" placeholder="email"><br><br>
            <input type="password" name="password" placeholder="password"><br><br>
            <button type="submit">Signup</button>
        </form>    
        <p>all ready have a account so why are you wasting your time<a href="/Login">signup here</a></p>   
    </div>
</body>
</html>